.responsive {
  width: 50%;
  height: auto;
      margin-top: 40px;
   margin-left: 10px;
   padding: 0px;
  
}
h3{
    margin-top: 0;
       font-family: Helvetica;
   float:right; 
    padding:30px;
}

